!!! 5
%html
  %head
    %title
      VUBIX -
      = title
    %meta{'charset': 'UTF-8'}
    %link{'href': "//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css", 'rel': "stylesheet"}
    %link{'href': "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", 'rel': "stylesheet"}
    %link{'href': "https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css", 'rel': "stylesheet"}
    %script{'src': "http://code.jquery.com/jquery-1.11.3.min.js"}
    %script{'src': "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    %script{'src': "//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"}
    %script{'src': "https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"}

    %script{'src': "https://momentjs.com/downloads/moment-with-locales.js"}
    :css
      body {padding-top: 50px;}
      .large-icon {font-size: 70px;}
      .big-icon {font-size: 25px}
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{'type': 'button', 'data-toggle': 'collapse', 'data-target': '#navbar', 'aria-expanded': 'false', 'aria-controls': 'navbar'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{'href': '{% url "home" %}'} VUBIX
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            {% if request.user.is_authenticated %}
              %li
                %a{'href': '{% url "logout" %}?next=/'} Logout
              %li
                %a{'href': '{% url "selection_user" %}'} My current selection
            {% else %}
              %li
                %a{'href': '{% url "login" %}'} Login
              %li
                %a{'href': '{% url "register_user" %}'} Register
            {% endif %}
            %li
              %a{'href': '{% url "create_selection" %}'} Create a selection
            %li
              %a{'href': '{% url "all_selections" %}'} List all selections
            - for name, href in extra_menu
              %li
                %a{'href': "#{href}"}= name
    .container
      .row
        .col-md-12
          %h1= title
      #content
        - block content
    :javascript
      $(document).ready(function(){
        moment.locale('en-gb')
        $('.daymoment').each(function(i, elem){
          var value = $(elem).html();
          var formated = moment(value).calendar(null, {
                sameDay: '[Today]',
                nextDay: '[Tomorrow]',
                nextWeek: 'dddd',
                lastDay: '[Yesterday]',
                lastWeek: '[Last] dddd',
                sameElse: 'dddd DD/MM/YYYY'
            });
          $(elem).html(formated);
        });
        $('.moment').each(function(i, elem){
          var value = $(elem).html();
          var formated = moment(value).format('LT');
          $(elem).html(formated);
        });
        $('.shortmoment').each(function(i, elem){
          var value = $(elem).html();
          var formated = moment(value).format('LT');
          $(elem).html(formated);
        });
      });
