- extends "base.haml"
- block content
  %p Type a course name to select it
  %form{'method': "post", 'action': '#{form.action}'}
    {% csrf_token %}
    = form.as_p
    %input{'type': 'submit'}

  :javascript
    $('document').ready(function(){
      $('#id_courses').select2();
    });